html {
	height:100%;
}

body {
	/*background-color: #272722; */
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
}

#header {
	font-family: "Foo Regular", "Bar Sans", sans-serif;
	font-weight: bold;
	color: purple;
	text-align: center;
	clear: both;
	border-bottom: 10px solid purple; 
	padding: 0;
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 2;
	background-color: inherit;
    text-align: center;
    vertical-align: middle;
    float: left;

}

#header h1{
	width: 100%;
	vertical-align: middle;
	line-height: 90px;
	font-size: 70px;
	display: inline !important;
}
#wrapper h3{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	clear: both;
}


#header a, a:visited, a:hover{
	text-decoration: none;
	color: purple;
}


#wrapper {
	padding: 100px 0 210px 0;
	z-index: 1;
	width: 100%;
	clear: both;
	overflow: hidden;
	background-color: inherit;
	min-height: 100%;
	height: 100%;


}

#content {
	font-family: "Foo Regular", "Bar Sans", sans-serif;
	color: #272722;
	text-align: center;
	font-size: 3em;
	width: 100%;
	-webkit-overflow-scrolling:touch;
    z-index:1;
    padding: 0;
    margin: 0;
    float: left;
    clear: both;
	height: 100%;
	min-height: 100%;
	height: auto !important;

	vertical-align:bottom;
	overflow: auto;



}


#footer {
	color: white;
	background-color: purple;
	position: fixed;
	bottom: 0px;
	padding: 0;
	margin: 0;
	width: 100%;
	clear: both;
	border-top: 10px solid purple;
	text-align: center;
	float: left;

	height: 200px;
	z-index: 2;
	background-color: inherit;


}

.bottom-link {
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	padding: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

.icon-8x {
font-size: 8em;
color: purple;

}

.icon-text {
	font-size: 2.5em;
}

#footer a, a:hover, a:visited{
	color:purple;
}


html,body {
	height: 100%;
	width: 100%;
}

#myMap {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	min-height: 200px;
}



.bottom-link-selected {
	background-color: purple;
height: 100%;
width: 25%;
	float: left;
	text-align: center;
	padding: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

#selected-icon, #selected-text {
	color: white;
	  /*color: transparent;
  text-shadow: 1px 1px black, -1px -1px black;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text; */
}

#events {
	height: 100%;
	color: white;
}

table {
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	font-size: .7em;
	min-width: 100%;

	border-spacing: 0;
}

#test-table {
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.8em;
	min-width: 100%;

	border-spacing: 0;
}




td {
	text-align: left;
	vertical-align: top;
	margin-left:0;
	margin-right:0;
	line-height: 2em;
}

.num-data{
	text-align: right;
	padding: 0 inherit;
}
#filter-box {


	display: inline-block;
    z-index:1;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: .65em;
    width: 96%;
}

fieldset { 
	padding-left: 50px;
	padding-right: 50px;
	border:5px solid purple;
	/*line-height: 3em; */
	    z-index:1;
	    height: 100%;
	    line-height: 2em;
	    padding: 0;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(5); /* IE */
  -moz-transform: scale(5); /* FF */
  -webkit-transform: scale(7); /* Safari and Chrome */
  -o-transform: scale(5); /* Opera */
  padding: 30px;
    z-index:1;
    margin: 30px;
    margin-left: 45px;
    margin-top: 95px;
}
.filter-section-title {
	text-decoration: underline;
	font-weight: bold;
	line-height: 2em;
	color: purple;
}


.party-filter {
	text-align: left;
	clear: both;
	font-size: 1.5em;
}
legend{
	margin-left: 35%;
	font-size: 1.5em;
	font-weight: bold;
}

#submit-reset {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
}

#sort {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}

#sort-by{
	font-size: 1.5em;

}
#sub, #res{

	font-size: 1.5em;
	background-color: #EADCF8;
	margin-bottom: 15px;

}

th {
	border-bottom: 2px solid black;
	color: purple;
	text-align: left;
}

th.middle-table-column {
	border-bottom: 2px solid black;
	padding-left: 30px;
	padding-bottom: 0;
}

th.right-table-column{
	font-size: 1em;
}

.middle-table-column{
	padding-left: 30px;
	padding-bottom: 10px;
}
.left-table-column {
	padding-right: 50px;
}

.right-table-column {
	text-align: right;
	font-size: 0.8em;

}

.empty-th{
	border-bottom: 0;
}

table tr.alt-row td {
	background-color: #EADCF8;
}

#test {
	margin-right: 75px;
}

.party-address {
	font-weight: bold;
	font-size: 1em;
	line-height: 1.5em;

}

.party-description {
	font-style: oblique;
	font-size: .9em;
	line-height: 1em;


}

.description-category {
	font-style: normal;
	font-weight: bold;
}

.party-description table{
	padding: 0;
	margin: 0;
		font-style: oblique;
	font-size: .9em;
	line-height: 1em;
		vertical-align: middle;

}
.party-description td{
	padding: 0;
	margin: 0;
	line-height: 1em;
		vertical-align: middle;
}

.category {
	font-weight: bold;
}


#profile-pic {
	float: left;
	height: 200px;
	width: 200px;
	border: 5px solid black;
	margin-right: 10px;
}

#profile-info {
	display: inline-block;
	text-align: left;
			padding-left: 0px;
	margin-left: 30px;
	float: left;
}

#profile-name {
	font-weight: bold;
;
}

#profile-edit {
	width: 600px;
	height: 80px;
	margin-top: 10px;
	color: white;
	background-color: purple;
	font-size: 1em;
	border-bottom:1px solid #9f9f9f;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	border-radius: 5px;
	padding-bottom: 5px;
}

#prof {
	border: 5px solid black;
	border-radius: 15px;
	float: left;
			margin-left: 3%;
			width: 90%;

	padding: 25px;
	margin-right: 3%;
}

#sync {
	clear: both;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 50px;
		border: 5px solid black;
		border-radius: 15px;
		float: left;
		padding: 25px;
		width: 90%;
}

.sync-text {
	float: left;
	display: inline-block;
	text-align: left;
	line-height: 1.5em;


}

#sync-img {
	width: 60px;
	height: 60px;
	margin-top: 10px;
	margin-bottom: -10px; 
	display: inline-block;
	text-align: right;
}

#sync-imgages {

	width: 70px;
	float: left;
}